@page "/pets"

<h3>Mascotas</h3>

<a href="/pets/create" class="btn btn-primary mt-3">Nueva Mascota</a>
<Pagination CurrentPage="currentPage"
            TotalPages="totalPages"
            SelectedPage="SelectedPageAsync" />

<GenericList MyList="Pets">
    <Body>

       
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Color</th>
                            <th>Estado</th>
                            <th>Imagenes</th>
                            <th>Imagen Principal</th>
                            <th style="width:168px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var pet in Pets!)
                        {
                            <tr>
                                <td>
                                    @pet.Name
                                </td>
                                <td>
                                    @pet.Description
                                </td>
                                <td>
                                    @pet.Color
                                </td>
                                <td>
                                    @($"{pet.state:N2}")
                                </td>
                                <td>
                                    @pet.ProductImagesNumber
                                </td>
                                <td>
                                    <img src="@pet.MainImage" style="width:100px;" />
                                </td>
                                <td>
                            <a class="btn btn-warning btn-sm" href="/pets/PetEdit/@pet.Id"><i class="oi oi-pencil" />Editar</a>
                                <button class="btn btn-danger btn-sm" @onclick=@(() => DeleteAsync(pet.Id))>Borrar</button>
                        </td>
                    </tr>

            }
            </tbody>
        </table>
    </Body>
</GenericList>
